# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

.env

svelte-tutorial-vault/.obsidian/appearance.json
svelte-tutorial-vault/.obsidian/hotkeys.json
svelte-tutorial-vault/.obsidian/workspace.json

!svelte-tutorial-vault/.obsidian/plugins/hot-reload/manifest.json
!svelte-tutorial-vault/.obsidian/plugins/hot-reload/main.js
!svelte-tutorial-vault/.obsidian/plugins/tutorial-plugin/manifest.json
